@charset "UFT-8";

body {
    background-color: rgb(202, 233, 211);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(8, 80, 26);
}

#principal {     /*id*/
    text-align: center;
    background-color:rgb(8, 80, 26);
    color: white;
}

h2 {
    color: rgb(78, 95, 82);
}

.basico {      /*classe*/
    color: rgb(45, 54, 36);
}

.intermediario {
    color: rgb(121, 121, 75);
}

.avancado {
    color: rgb(139, 66, 66);
}

.destaque {
    background-color: bisque;
}